:root {
  --primary: #36a8a0;

  --primary-text: #394155; 
  --secondary-text: #798595;

  --primary-border-box: #aacedb;

  --primary-green: #3cb9a0; 
  --secondary-green: #1786ac;

  --primary-light-green: #e6f7f5;
  --secondary-light-green:  #f8fcfc;

  --box-shadow: #0000000d;
  --white: #ffffff;
}